In [2]:
import pandas as pd

In [8]:
data = pd.DataFrame(
    {
        'Linguagem': ['Python', 'R', 'SQL', 'C','Java', 'Javascript', 'Elixir'],
        'Popularidade': ['Alta', 'Baixa', 'Altíssima', 'Média', 'Altíssima', 'Altíssima', 'Baixa'],
        'Versão': [3.10,4.2,None, None, 11, 16, 1.12],
        'Desenvolvedores': [7_000_000, 500_000, 20_000_000, 3_500_000, 16_000_000, 25_000_000, 200_000],
        'Data de Lançamento': ['1991-02-20', '1993-08-03', '1986-01-01', '1972-01-01', '1995-05-23', '1995-12-04', '2012-01-01']
            
    }
)

data

    Linguagem Popularidade  Versão  Desenvolvedores Data de Lançamento
0      Python         Alta    3.10          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima   11.00         16000000         1995-05-23
5  Javascript    Altíssima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [9]:
data.dtypes

Linguagem              object
Popularidade           object
Versão                float64
Desenvolvedores         int64
Data de Lançamento     object
dtype: object

In [10]:
data.loc[data['Desenvolvedores'].map(int) > 1000000, 'Classificação'] = 'Acima'
data.loc[data['Desenvolvedores'].map(int) < 1000000, 'Classificação'] = 'Abaixo'
data

,Linguagem,Popularidade,Versão,Desenvolvedores,Data de Lançamento,Classificação
0,Python,Alta,3.10,7000000,1991-02-20,Acima
1,R,Baixa,4.20,500000,1993-08-03,Abaixo
2,SQL,Altíssima,NaN,20000000,1986-01-01,Acima
3,C,Média,NaN,3500000,1972-01-01,Acima
4,Java,Altíssima,11.00,16000000,1995-05-23,Acima
5,Javascript,Altíssima,16.00,25000000,1995-12-04,Acima
6,Elixir,Baixa,1.12,200000,2012-01-01,Abaixo

In [11]:
df = pd.read_csv('wines.csv')

In [12]:
df

            date   label  vintage   style   country   price  quantity  rate
0     2021-01-04  Wine K     2002   White  Portugal  144.22         9    97
1     2021-03-11  Wine J     1982     Red  Portugal  244.80         3    76
2     2021-10-02  Wine Y     2018  Orange    France   98.83         2    79
3     2021-06-05  Wine I     1989     Red     Spain   59.64        11    77
4     2021-09-06  Wine N     2006   White     Spain  187.70         6    91
...          ...     ...      ...     ...       ...     ...       ...   ...
9995  2021-08-07  Wine S     1983    Rose    France  264.69         6    89
9996  2021-03-03  Wine S     1994    Rose     Spain   55.84         4   100
9997  2021-12-28  Wine N     2001   White  Portugal  137.79        13    96
9998  2021-06-19  Wine T     1988    Rose     Italy  100.29         9    83
9999  2021-09-18  Wine V     1982   Sweet  Portugal   63.85        13   100

[10000 rows x 8 columns]

In [25]:
# Quanto custa o vinho mais caro
df['price'].max()

1107.89

In [24]:
# Quanto custo o vinho mais barato
df['price'].min()

50.01

In [26]:
# Qual o vinho mais caro
df.loc[df.price == df['price'].max()]

            date   label  vintage      style country    price  quantity  rate
1249  2021-09-29  Wine Q     2002  Sparkling   Italy  1107.89        13    92

In [28]:
# Qual o vinho mais barato
df.loc[df.price == df['price'].min()]

            date   label  vintage   style country  price  quantity  rate
4910  2021-08-15  Wine Z     2009  Orange  Brazil  50.01         5    90
9256  2021-11-01  Wine W     1995   Sweet  Brazil  50.01        12    94

In [35]:
df.dtypes

date         object
label        object
vintage       int64
style        object
country      object
price       float64
quantity      int64
rate          int64
dtype: object

In [36]:
import datetime

df.date = pd.to_datetime(df.date)
display(df)

           date   label  vintage   style   country   price  quantity  rate
0    2021-01-04  Wine K     2002   White  Portugal  144.22         9    97
1    2021-03-11  Wine J     1982     Red  Portugal  244.80         3    76
2    2021-10-02  Wine Y     2018  Orange    France   98.83         2    79
3    2021-06-05  Wine I     1989     Red     Spain   59.64        11    77
4    2021-09-06  Wine N     2006   White     Spain  187.70         6    91
...         ...     ...      ...     ...       ...     ...       ...   ...
9995 2021-08-07  Wine S     1983    Rose    France  264.69         6    89
9996 2021-03-03  Wine S     1994    Rose     Spain   55.84         4   100
9997 2021-12-28  Wine N     2001   White  Portugal  137.79        13    96
9998 2021-06-19  Wine T     1988    Rose     Italy  100.29         9    83
9999 2021-09-18  Wine V     1982   Sweet  Portugal   63.85        13   100

[10000 rows x 8 columns]

In [37]:
df.dtypes

date        datetime64[ns]
label               object
vintage              int64
style               object
country             object
price              float64
quantity             int64
rate                 int64
dtype: object

In [49]:
# Quanto foi vendido em 2021
resultado = df.loc[df.date.dt.year == 2021]
resultado1 = sum(df['price'] * df['quantity'])
resultado1

16991676.32000006

In [51]:
# Quantas garrafas no total?
df['quantity'].sum()

80155

In [52]:
# Qual vinho teve a maior nota?
df['rate'].max()

100

In [53]:
# Qual vinho teve a menor nota?
df['rate'].min()

75

In [57]:
# Qual a safra mais antiga?
df.vintage.min()

1982

In [58]:
# Qual a safra mais recente?
df.vintage.max()

2021

In [144]:
# Qual país teve mais garrafa vendida?
df.groupby('country')['quantity'].sum().sort_values(ascending=False).head(1)

country
Italy    8335
Name: quantity, dtype: int64

In [145]:
# Qual país teve menos menos garrafa vendida?
df.groupby('country')['quantity'].sum().sort_values(ascending=False).tail(1)

country
USA    7402
Name: quantity, dtype: int64

In [70]:
# Quantos vinhos abaixo de R$100,00 foram vendidos?
df.loc[df.price < 100]

           date   label  vintage   style   country  price  quantity  rate
2    2021-10-02  Wine Y     2018  Orange    France  98.83         2    79
3    2021-06-05  Wine I     1989     Red     Spain  59.64        11    77
9    2021-04-25  Wine Y     1988  Orange     Italy  70.33         9    95
14   2021-08-12  Wine L     1985   White     Italy  73.44         5    82
21   2021-02-06  Wine U     2018    Rose   Germany  57.91         9    96
...         ...     ...      ...     ...       ...    ...       ...   ...
9984 2021-04-26  Wine Y     1998  Orange     Spain  74.85         6    82
9986 2021-11-20  Wine Y     2015  Orange     Spain  57.62        12    87
9987 2021-09-04  Wine O     1987   White    France  97.65        15    89
9996 2021-03-03  Wine S     1994    Rose     Spain  55.84         4   100
9999 2021-09-18  Wine V     1982   Sweet  Portugal  63.85        13   100

[2248 rows x 8 columns]

In [71]:
# Quantos vinhos acima de R$100,00 foram vendidos?
df.loc[df.price > 100]

           date   label  vintage  style   country   price  quantity  rate
0    2021-01-04  Wine K     2002  White  Portugal  144.22         9    97
1    2021-03-11  Wine J     1982    Red  Portugal  244.80         3    76
4    2021-09-06  Wine N     2006  White     Spain  187.70         6    91
5    2021-07-10  Wine O     2020  White     Chile  196.02        13    79
6    2021-11-01  Wine A     2003    Red       USA  464.32         9    99
...         ...     ...      ...    ...       ...     ...       ...   ...
9993 2021-05-21  Wine T     1988   Rose  Portugal  262.82        12    96
9994 2021-06-27  Wine U     2007   Rose     Italy  112.68         1    95
9995 2021-08-07  Wine S     1983   Rose    France  264.69         6    89
9997 2021-12-28  Wine N     2001  White  Portugal  137.79        13    96
9998 2021-06-19  Wine T     1988   Rose     Italy  100.29         9    83

[7751 rows x 8 columns]

In [75]:
df['style'].value_counts()

White        1710
Rose         1706
Orange       1658
Sweet        1648
Red          1640
Sparkling    1638
Name: style, dtype: int64

In [83]:
# Quantas garrafas de espumantes foram vendidas no mês de Dezembro?
resultado = df[df['style'] == 'Sparkling']
resultado1 = resultado.loc[resultado['date'].dt.month == 12]
resultado2 = resultado1.quantity.sum()
resultado2

1086

In [93]:
# Quantos vinhos brancos e rosés foram vendidos nos meses de Janeiro a Março?
resultado = df.loc[(df['style'] == 'White') | (df['style'] == 'Rose')]
resultado1 = resultado.loc[resultado['date'].dt.month.isin([1,2,3])]
resultado1.groupby('style')['quantity'].sum()

style
Rose     3138
White    3506
Name: quantity, dtype: int64

In [95]:
# Qual foi o faturamento do 1º trimestre de 2021?
trimestre1 = df.loc[df['date'].dt.month.isin([1,2,3])]
sum(trimestre1['price'] * trimestre1['quantity'])

4279841.699999998

In [98]:
# Quantas garrafas de tinto foram vendidas no inverno de 2021?
resultado = df.loc[(df['date'] > datetime.datetime(2021,6,21)) & (df['date'] < datetime.datetime(2021,9,20))]
resultado.quantity.sum()

19305

In [135]:
# Quais os 3 meses de maior faturamento?

df['mes_ano'] = df['date'].map(lambda x: 100 * x.year + x.month)
df['valor'] = df['price'] * df['quantity']
df.groupby('mes_ano')['valor'].sum().sort_values(ascending=False).head(3)

mes_ano
202107    1479557.54
202104    1475165.86
202103    1462568.50
Name: valor, dtype: float64

In [139]:
resultado = df.groupby('mes_ano')['valor','quantity'].sum()
resultado['ticket_medio'] = resultado['valor'] / resultado['quantity']
resultado

C:\Users\User\AppData\Local\Temp\ipykernel_11504\277011410.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  resultado = df.groupby('mes_ano')['valor','quantity'].sum()

              valor  quantity  ticket_medio
mes_ano
202101   1437791.83      6761    212.659641
202102   1379481.37      6750    204.367610
202103   1462568.50      6806    214.893991
202104   1475165.86      6638    222.230470
202105   1450604.41      6668    217.547152
202106   1370495.78      6632    206.648941
202107   1479557.54      6590    224.515560
202108   1338435.93      6351    210.744124
202109   1431605.32      6932    206.521252
202110   1403307.46      6653    210.928522
202111   1440251.82      6961    206.903005
202112   1322410.50      6413    206.207781

In [ ]:
pd.options.display